
<p class="p-index">Find local music wherever you go!</p>

<center><%= erb :'_location_search_form' %></center>

<%= erb :'_events_show' %>
<br><br><br>

<center><div class="register-container">
</div></center>